.container-for-footer {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

#footer {
  width: 1224px;
  height: 252px;
  background: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
  @media screen and (max-width: 480px) {
    width: 480px;
    height: 603px;
    flex-shrink: 0;
  }
}

.logo2footer {
  width: 145px;
  height: 31px;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  color: var(--color-white);
  margin-bottom: 20px;
  display: block;
}
.spanlogo {
  color: #2196f3;
}
.adress {
  width: 231px;
  height: 21px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  display: block;
  margin-bottom: 9px;
  letter-spacing: 0.03em;
  color: var(--color-white);
}

.liemailfooter {
  margin-bottom: 9px;
}
.emailFooter {
  width: 136px;
  height: 21px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 9px;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.telFooter {
  width: 231px;
  height: 21px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: var(--color-telemailFooter);
}
